.checkout-item {
  &__container {
    display: grid;
    max-width: 60vw;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    border-top: 1px grey solid;
    padding: 1rem 0;
    grid-template-rows: repeat(3, 38px);
  }
}

.checkout-image {
  &__container {
    display: flex;
    justify-content: flex-start;
    width: 80%;
  }
}

.checkout {
  &__image {
    width: 61%;
    grid-row: 2;
  }

  &__title {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    grid-row: 2;
  }
  &__price {
    grid-row: 2;
  }

  &__total {
    display: flex;
    grid-row: 2;
  }
}
.checkout-description {
  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    width: 60vw;
    justify-content: space-evenly;
    font-size: 1.4rem;
    padding-left: 1rem;
  }
}

.checkout-quantity {
  &__container {
    display: flex;
    grid-row: 2;
  }
}
.quantity {
  &__arrow {
    padding: 0 5px;
    cursor: pointer;
    color: rgb(99, 140, 252);
  }
}

.remove-button {
  &__container {
    cursor: pointer;
    grid-column: 5;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 30%;
    background: rgb(201, 201, 201);
    min-width: 33px;
    height: 33px;
    border-radius: 50%;
    transition: all 0.3s ease;

    &:hover {
      background: #555;
      color: white;
    }
  }
}

.remove {
  &__button {
    font-size: 1rem;
  }
}
