.checkout {
  &__container {
    max-width: 60vw;
    margin: 0 auto;
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    padding-right: 5.2rem;
  }

  &-options {
    &__container {
      height: 80px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
  &__subtotal {
    justify-content: flex-end;
    padding-right: 0;
  }
}

.checkout-payment {
  &__container {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
}
