.checkout {
  &__page {
    background: var(--checkout-page-background);
    min-height: 100vh;
  }

  &-details {
    &__container {
      background: white;
      border-radius: 8px;
    }
  }
  &__container {
    max-width: 60vw;
    margin: 0 auto;
    display: grid;
    padding-top: 4rem;
  }
  &__header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
  }
  &__title {
    &:first-child {
      grid-column: 1 / span 2;
      justify-self: start;
      padding-left: 1rem;
    }
  }

  &-options {
    &__container {
      height: 80px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__subtotal {
    justify-content: flex-end;
    padding-right: 0;
  }
}

.checkout-payment {
  &__container {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
}

// animation for modal

.alert-enter {
  opacity: 0;
}
.alert-enter-active {
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

// Modal design

.alert {
  &__container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(3, 3, 3, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  &__message {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(15, 179, 102);
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 4px;
  }
}
