.cart {
  &__container {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100vw;
    height: 100vw;
    top: 0;
    right: 0;
  }

  &__modal {
    background: white;
    width: 350px;
    min-height: 400px;
    right: 2rem;
    top: 5rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &:focus {
      outline: none;
    }
  }
}

.modal {
  &-item {
    &__container {
      &--empty {
        padding-top: 3rem;
      }
    }
  }
  &__item {
    padding: 2rem;
  }

  &-button {
    &__container {
      padding-bottom: 2rem;
    }
  }
}

// animation for modal

.cart-visible-enter {
  opacity: 0;
}
.cart-visible-enter-active {
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}
.cart-visible-exit {
  opacity: 1;
}
.cart-visible-exit-active {
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
