.landing {
  &__container {
    background: var(--landing-page-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 100%;
  }

  &-title {
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 5rem;
    }
  }
}
