.landing-hero {
  &__container {
    height: 500px;
    width: 80vw;
    background: rgb(139, 201, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
  }
  &__title {
    font-size: 2rem;
    text-align: center;
  }

  &__image {
    height: 100%;
    width: 100%;
  }
}

.hero-text {
  &__container {
    padding: 3rem;
  }
}

.hero-image {
  &__container {
    max-width: 500px;
  }
}
