@media (max-width: 900px) {
  body {
    // Macro Styles

    //HomePage
    .landing {
      &-image {
        &__container {
          max-width: 90vw;

          &--single {
            width: 400px;
          }

          &--overlap {
            width: 400px;
            gap: 7rem;
          }
        }
      }
    }
    // CheckoutPage
    .checkout {
      &__container {
        max-width: 90vw;
      }

      &-item {
        &__container {
          max-width: 90vw;
        }
      }
    }
  }
}
